@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('../node_modules/@fontsource/saira-condensed/files/saira-condensed-latin-300-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../node_modules/@fontsource/saira-condensed/files/saira-condensed-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../node_modules/@fontsource/saira-condensed/files/saira-condensed-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('../node_modules/@fontsource/saira-condensed/files/saira-condensed-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../node_modules/@fontsource/saira-condensed/files/saira-condensed-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('../node_modules/@fontsource/poppins/files/poppins-latin-300-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../node_modules/@fontsource/poppins/files/poppins-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../node_modules/@fontsource/poppins/files/poppins-latin-500-normal.woff2') format('woff2');
}
